@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700&family=Faster+One&family=Lateef&display=swap');

:root {
    /* Color */
    --clr-white: #fff;
    --clr-black: #000;
    --clr-primary: #34506b;
    --clr-Green: #00b300;
    /* Fonts */
    --ff-Faster-one: 'Faster One', cursive;
    --ff-Lateef: 'Lateef', cursive;
    --ff-Exo-2: 'Exo 2', sans-serif;
    /* Font Wghit */
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    /* Font Size */
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 1.875rem;
    --fs-4xl: 2.25rem;
    --fs-5xl: 3rem;
    --fs-6xl: 4rem;
    /* Font Line Height */
    --fh-xs: 1.25;
    --fh-sm: 1.5;
    --fh-base: 1.75;
    --fh-lg: 2;
    --fh-xl: 2.25;
    --fh-2xl: 2.5;
    /* Box Shadow */
    --bs-inputs: 0px 3px 5px 0px rgba(0, 0, 0, 0.375);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Page Loader */
.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url(../img/spalshImage.jpg) no-repeat center center fixed;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: baseline;
    z-index: 4;
}

.loader img {
    width: 30%;
    height: 30%;
    object-fit: cover;
}

.loader>div {
    height: 150px;
    width: 150px;
    border: 1rem solid var(--clr-white);
    border-top-color: var(--clr-primary);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* END Page Loader */
/* Content section */
a{
    text-decoration: none;
    color: var(--clr-primary);
}
body{
    background: var(--clr-white);
}
.contents{
    width: 100vw;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.contents .upper-content{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid var(--clr-primary);
}
.contents .upper-content h1{
    font-family: var(--ff-Faster-one);
    font-size: var(--fs-5xl);
    padding-bottom: var(--fs-base);
}
.contents .upper-content h2{
    font-family: var(--ff-Lateef);
    font-size: var(--fs-3xl);
}
.contents .upper-content a {
    width: 100%;
    height: 50px;
    
}
.contents .upper-content button {
    width: 100%;
    height: 50px;
    border: none;
    background: var(--clr-white);
    color: var(--clr-black);
    font-family: var(--ff-Lateef);
    font-size: var(--fs-xl);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: var(--bs-inputs);
}
.fa-google{
    padding-left: 1rem;
}
.contents .lower-content{
    width: 80vw;
}
.contents .lower-content form{
    width: 100%;
    height: auto;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents .lower-content form a{
    font-size: var(--fs-2xl);
    font-family: var(--ff-Lateef);
}
.contents .lower-content form input{
    width: 80%;
    height: 50px;
    border: none;
    background: var(--clr-white);
    color: var(--clr-black);
    font-family: var(--ff-Lateef);
    font-size: var(--fs-xl);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: var(--bs-inputs);
    padding: 1rem;
    margin: 1rem;
    outline: none;
}
.contents .lower-content form input::placeholder{
    font-family: var(--ff-Exo-2);
    font-weight: var(--fw-300);
    font-size: var(--fs-base);
}
.contents .lower-content form #submit{
    color: var(--clr-Green);
    font-size: var(--fs-2xl);
    font-family: var(--ff-Lateef);
}
.contents .lower-content form #submit:hover{
    background: var(--clr-Green);
    color: var(--clr-white);
}
.contents .lower-content form #submit:active {
    background: var(--clr-Green);
    color: var(--clr-white);
}
.contents .lower-content form #submit:focus {
    background: var(--clr-Green);
    color: var(--clr-white);
}